body {
    background-color: greenyellow;
    border-collapse: collapse;
}
h1 {
    text-align: center;
}
td {
    text-align: center;
    background-color: greenyellow;
    
}
.submit {
    text-align: center;
}